<div class="filter-form">
    <div class="filter-type-tabcontainer">
        <button class="tab-item" ng-click="$ctrl.setActiveView('one')" ng-class="$ctrl.uiState.onewayVisible? 'active': ''">One way</button>
        <button class="tab-item" ng-click="$ctrl.setActiveView('return')" ng-class="$ctrl.uiState.onewayVisible? '': 'active'">Return</button>
    </div>
    <form name="filterForm" ng-submit="$ctrl.onFilterFormSubmit($event, filterForm)">
        <div class="one-way-form-inputs" ng-show="$ctrl.uiState.onewayVisible">
            <div class="form-input">
                <input type="text" autocomplete="off" name="oneway_origin" ng-model="$ctrl.filter.oneway.origin" placeholder="Enter Origin"/>
            </div>
            <div class="form-input">
                <input type="text" autocomplete="off" name="oneway_destination" ng-model="$ctrl.filter.oneway.destination" placeholder="Enter Destination"/>
            </div>
            <div class="form-input">
                <input name="oneway_depDate" autocomplete="off" type="date" ng-model="$ctrl.filter.oneway.depDate" placeholder="Departure Date" />
            </div>
            <div class="form-input">
                <select name="oneway_passengerCnt" ng-options="ctn for ctn in $ctrl.passengerList" ng-model="$ctrl.filter.oneway.passengerCnt">
                    <option value="">Passengers</option>
                </select>
            </div>  
        </div>
        <div class="return-form-inputs" ng-hide="$ctrl.uiState.onewayVisible">
            <div class="form-input">
                <input type="text" autocomplete="off" name="return_origin" ng-model="$ctrl.filter.return.origin" placeholder="Enter Origin" />
            </div>
            <div class="form-input">
                <input type="text" autocomplete="off" name="return_destination" ng-model="$ctrl.filter.return.destination" placeholder="Enter Destination" />
            </div>
            <div class="form-input">
                <input name="return_depDate" autocomplete="off" type="date" ng-model="$ctrl.filter.return.depDate" placeholder="Departure Date" />
            </div>
            <div class="form-input">
                <select name="return_passengerCnt" ng-options="ctn for ctn in $ctrl.passengerList" ng-model="$ctrl.filter.return.passengerCnt">
                    <option value="">Passengers</option>
                </select>
            </div>  
        </div>
        
        <div class="form-action">
            <input type="submit" class="button" value="Search"/>
        </div>
    </form>
    <div class="price-filter-section" ng-show="$ctrl.priceFilter">
            <div>
                <h3>Filter Based on Price</h3>
                <span>Min: {{$ctrl.priceFilter.min}}</span>
                <input type="range" 
                min="{{$ctrl.priceFilter.min}}"
                max="{{$ctrl.priceFilter.max}}"
                ng-model="$ctrl.appliedFilter" 
                ng-change="$ctrl.onPriceFilter({filterVal: $ctrl.appliedFilter})"
                />
                <span>Selected Value: {{$ctrl.appliedFilter}}</span>
                <span>Max: {{$ctrl.priceFilter.max}}</span>

            </div>

    </div>
</div>